p {
  font-family: "Roboto";
}
.wrapper {
  margin: auto;
  width: 80%;
}
.header {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}
.logo {
<<<<<<< HEAD
=======
  padding: 40px 0;
>>>>>>> 766fd8576a1d8f3b7a8e70231b2e74c81cc0bba2
  width: 190px;
  height: 35px;
  background: url('img/logo.svg');
}
.menu {
  display: flex;
  align-items: center;
}
.menu__item {
  padding: 0 13px;
}
.menu__item:last-child {
  padding-right: 0;
}

