p {
  font-family: "Roboto";
}
.wrapper {
  margin: auto;
  width: 80%;
}
.header {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 190px;
}
.logo {
  width: 190px;
  height: 35px;
  background: url('img/logo.svg');
}
.menu {
  display: flex;
  align-items: center;
}
.menu__item {
  margin-right: 26px;
  position: relative;
  font: 500 18px/21px "Roboto";
  color: #000;
  text-decoration: none;
  transition: opacity .5s;
}
.menu__item:last-child {
  margin-right: 0;
}
.menu__item:after {
  left: 0;
  position: absolute;
  display: block;
  content: '';
  width: 0;
  height: 3px;
  background: #0056EC;
  transition: opacity .5s, width 0.5s;
}
.menu__item:hover {
  opacity: 0.5;
}
.menu__item:hover:after {
  opacity: 1;
  width: 100%;
}
.main {
  padding: 0 63% 100px 0;
  background: top right no-repeat url(img/mainImg.svg);
  background-size: 48% auto; 
}
.main__title {
  width: 99%;
  margin: 0 0 40px 0;
  font: bold 73px/90px "pt_serif";
}
.main__description {
  margin: 0 0 41px 0;
  font: 22px/26px "Roboto";
}
.main__title-text_highlight {
  background: #ECF3FF
}
.main_button {
  display: inline-block;
  padding: 17px 30px;
  color: white;
  background: #0056EC;
  text-decoration: none;
  border-radius: 4px;
  transition: opacity .5s;
  font: 18px/15px "Roboto";
}
.main_button:hover {
  opacity: .5;
}