p {
  font-family: "roboto-regular";
}
.wrapper {
  margin: auto;
  width: 80%;
}
.header {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 190px;
}
.logo {
  position: relative;
  padding-left: 44px;
  font: bold 24px/31px pt_serif;
}
.logo__circle {
  width: 28px;
  height: 28px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  opacity: .7;
}
.logo__circle_blue {
  left: 8px;
  top: 56%;
  background: #C8DBFB;
}
.logo__circle_dark-blue {
  background: #0056EC
}
.menu {
  display: flex;
  align-items: center;
}
.menu__item {
  margin-right: 26px;
  position: relative;
  font: 500 18px/21px "roboto-regular";
  color: #000;
  text-decoration: none;
  transition: opacity .5s;
}
.menu__item:last-child {
  margin-right: 0;
}
.menu__item:after {
  left: 0;
  position: absolute;
  display: block;
  content: '';
  width: 0;
  height: 3px;
  background: #0056EC;
  transition: opacity .5s, width 0.5s;
}
.menu__item:hover {
  opacity: 0.5;
}
.menu__item:hover:after {
  opacity: 1;
  width: 100%;
}
.main {
  padding: 0 63% 100px 0;
  background: top right no-repeat url(img/mainImg.svg);
  background-size: 48% auto; 
}
.main__title {
  width: 99%;
  margin: 0 0 40px 0;
  font: bold 73px/90px "pt_serif";
}
.main__description {
  margin: 0 0 41px 0;
  font: 22px/26px "roboto-regular";
}
.main__title-text_highlight {
  background: #ECF3FF
}
.main_button {
  display: inline-block;
  padding: 17px 30px;
  color: white;
  background: #0056EC;
  text-decoration: none;
  border-radius: 4px;
  transition: opacity .5s;
  font: 18px/15px "roboto-regular";
}
.main_button:hover {
  opacity: .5;
}
.menu__box {
  display: none;
}
@media(min-width: 1024px) {
  .hamburger-menu {
    display: none;
  }
}
@media(max-width: 1366px) {
  .wrapper {
    width: 70%;
  }
  .header {
    margin-bottom: 99px;
    padding: 34px 0;
    margin-right: 10px;
  }
  .menu__item{
    font: 500 14px/16px "roboto-regular";
  }
  .main__title{
    margin: 0 0 40px 0;
    font: 50px/66px "pt_serifbold";
    width: 434px;
  }
  .main__description{
    margin: 0 0 41px 0;
    font: 500 18px/21px "roboto-regular";
    max-width: 367px;
  }
  .main_button {
    padding: 17px 25px;
    font: 500 14px/16px "roboto-regular";
  }
  .main {
    background-size: 53%;
  }
}
@media(max-width: 1024px) {
  .wrapper {
    width: 91%;
  }
  .menu__item{
    font: 500 13px/1px "roboto-regular";
  }
  .main__title{
    margin: 0 0 40px 0;
    font: 50px/66px "pt_serifbold";
    width: 434px;
  }
  .main__description{
    margin: 0 0 41px 0;
    font: 500 17px/21px "roboto-regular";
    max-width: 367px;
  }
  .main_button {
    padding: 17px 25px;
    font: 500 14px/18px "roboto-regular";
  }
  main {
    background-size: 52%;
}
}
@media(max-width: 375px) {
  .menu {
    display: none;
  }
  .wraper {
    width: 90%;
  }
  .header {
    margin-bottom: 30px;
  }
  .main {
    text-align: center;
    padding: 68% 0 0; 
    background-size: 74%;
    background-position: top center;
  }
  .main__title {
    padding-bottom: 30px;
    margin: 0 0 10px 0;
    font: 31px/39px "pt_serifbold";
    width: 340px;
  }
  .main__description {
    padding: 0 0 15px 28px;
    margin-bottom: 9px;
    font: 500 16px/18px "roboto-regular";
    width: 250px;
  }
  .main_button {
    font: 500 14px/16px "roboto-regular";
  }
  .logo_text {
    display: none;
  }
  #menu__toggle {
  opacity: 0;
}
#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  right: 0;
}
.menu__btn {
  display: flex;
  align-items: center;
  position: absolute;
  top: 37px;
  right: 20px;

  width: 26px;
  height: 26px;

  cursor: pointer;
  z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;

  width: 100%;
  height: 2px;
  background-color: #0056EC;
  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -100%;
  width: 375px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #E5E5E5;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  transition-duration: .25s;
}
.menu__item {
  position: relative;
  display: block;
  padding: 12px 30px;
  color: #333;
  font-family: 'roboto-regular', sans-serif;
  font-size: 33px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .5s;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
}
.menu__item:hover {
  background-color: #CFD8DC;
}
@keyframes flashlight {
  to {
    color: black;
  }
}
.main_button:hover {
  animation: flashlight .5s 5 ease-in-out;
}
}



